/*#section_facebook {
  background-color: red;
}*/

#section_lastfm {
  /*background-color: blue;*/
}

#section_rdio {
  /*background-color: green;*/
}

.body {
  /*background-color: yellow;*/
}


.master_header {
  margin-top: 100px;
}

#pigeon {
  z-index: 99;
  position: absolute;
  top: 0px;
  left: 10px;
  width: 70px;
}

h1 {
  font-size: 50px;
  margin-left: 40px;
  margin-bottom: 5px;
}

h2 {
  font-size: 25px;
  margin-bottom: 20px;
  margin-top: 0px;
}

.header {
  height: 80px;
}


.profile_container {
  margin-bottom: 10px;
}

.profile_image {
  width: auto;
  padding: 0px;
}


.h3 {
  font-size: 16px;
  margin-top: 0px;
  line-height: 1;
}

.logo {
  height:50px;
  margin-bottom: 15px;
}


.twitter-follow-button, .twitter-follow-button:hover {
  color: #E8E8E8;
  text-decoration: none;
  cursor: default;
}


.header {
  margin-bottom:50px;
  padding-left: 0px;
}

.infographic {
  height: 10px;
  background-color: #A1A1A1;
  display: hidden;
}